node_modules/**
.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
.eslintrc.json
__mocks__/**
coverage/**
lib/**
model/**
out/**
.babelrc
.codacy.yaml
.eslintrc.json
.travis.yml
package-lock.json
PULL_REQUEST_TEMPLATE.md
webpack.config.js
*.map
